.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.experience-title{
  font-weight: bold;
  font-size: medium;
 }

 .experience-body{
  margin: 20px 0;
  line-height: normal;
 }


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #080808;
  color: #faf9f9;
  background-image: url("galaxy-background.jpg");
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
}

.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 1.2rem;
  color: #f5f4f4;
}

.section {
  margin-bottom: 3rem;
}

.section-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color:#ddd
}

.card {
  background: #080122;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  flex: 1 1 45%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ddd;
}

.link-button {
  display: inline-block;
  margin-top: 0.5rem;
  color: #007acc;
  text-decoration: none;
  font-weight: 500;
}

.link-button:hover {
  text-decoration: underline;
}

.contact {
  text-align: center;
}

.icon-row {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.icon {
  width: 28px;
  height: 28px;
  color: #faf7f7;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #007acc;
}
